{% extends 'base.html' %}

{% block content_two %}
<div class="right-col p-3">
     <h3 class="text-uppercase mb-3 pb-2 border-bottom">About us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Vitae congue eu consequat ac felis donec et odio. Morbi tristique senectus
              et netus et malesuada. Nec nam aliquam sem et tortor consequat. Eget est lorem ipsum dolor sit. Dignissim
              diam quis enim lobortis scelerisque fermentum dui. Libero nunc consequat interdum varius sit amet mattis
              vulputate. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. Elit at imperdiet
              dui accumsan sit amet nulla facilisi. Scelerisque purus semper eget duis.</p>
          <p>Quis auctor elit sed vulputate mi sit amet mauris commodo. Tellus molestie nunc non blandit massa enim
              nec dui. Cras fermentum odio eu feugiat. Ornare massa eget egestas purus viverra accumsan in. Id faucibus
              nisl tincidunt eget nullam. Massa id neque aliquam vestibulum. Rutrum tellus pellentesque eu tincidunt.
              Tincidunt lobortis feugiat vivamus at. Sed adipiscing diam donec adipiscing tristique risus nec.
              Et ultrices neque ornare aenean euismod. Enim neque volutpat ac tincidunt vitae semper. Elit sed vulputate
              mi sit amet. Ac tortor dignissim convallis aenean et. Commodo elit at imperdiet dui accumsan sit amet.
              Purus ut faucibus pulvinar elementum integer enim neque. Fames ac turpis egestas maecenas pharetra
              convallis posuere. Euismod nisi porta lorem mollis.
          </p>
</div>
{% endblock %}